

.fundo{
    background: #c6ad71;
    border: solid #acba9d;
}

body{
    background: #d1c8a3;
    font-size: 25px;

}

h4{
    color: #e3604d;
}

h3{
    color: #e3604d; 
}

h2{
    color: #e3604d;
}