@charset "utf-8";

.container {
    display: flex;
}

.container div {
    border: 1px #ccc solid;
    padding: 10px;
    width: 550px;
    height: 250px;
    border: 2px solid royalblue;
    border-radius: 10px;
    
}

.item-box-1 {
    flex: 2;
    order: 2;
    background: black;
    color: white;
}

.item-box-2 {
    flex: 1;
    order: 1;
    background: blueviolet;
    color: white;
}

.item-box-3 {
    flex: 1;
    order: 3;
    background: red;
    color: white;
}