@charset "utf-8";
body{
    background: cornflowerblue;
    color: white;
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1{
    color: black;
}

h4{
    color: #000;
}

.container div {
    
    padding: 10px;
}

.cotainer:hover{
    opacity: 0.8;
}


.container {
    display: flex;
    align-items: baseline;
}

.container div {
    
    margin: 3px;
    width: 30%;
    padding: 20px;
    box-sizing: border-box;
}

.pipoca-1 {
    flex: 1;
    order: 1;
    color: white;
    align-self: center;
    border: 2px solid black;
}

.pipoca-2 {
    flex: 1;
    order: 1;
    border: 2px solid black;
}

.pipoca-3 {
    flex: 1;
    order: 1;
    border: 2px solid black;
}

.pipoca-4 {
    flex: 1;
    order: 1;
    align-self: center;
    align-items: flex-start;
    border: 2px solid black;
}

img{
    width: 250PX;
    height: 150px;
}

footer{
    background: rgb(151, 92, 151);
    text-align: center;
    margin-top: 580px;
    font-size: 17px;
}

.btn {
    margin-top: 50px;
    margin-left: 12px;
    background: black;
    color: rgb(247, 247, 247);
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    width: 55px;
    height: 40px;
}

.botao{
    display: flex;
}

@media(max-width:768px) {
    .container {
        width: 100%;
    }
}

@media(max-width:768px) {
    .btn {
        width: 100%;
    }
}
